@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@299&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

* {
	margin: 0;
	padding: 0;
}
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }
.ojuju-banana {
    font-family: "Ojuju-banana", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }
.madimi-one-regular {
    font-family: "Madimi one", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
:root{
    /* --primary-color: rgb(94, 164, 202); */
    --primary-color: #8F8487;
    --secondary-color: #7cc6fe;
    --accent1-color: #a24110;
    --accent2-color: #b5bd82;
    
    --heading-font: 'Madimi one', sans-serif;
    --paragraph-font: 'Ojuju-banana', sans-serif;

    --nav-background-color:var(--accent2-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color:var(--secondary-color);
    --nav-hover-background-color:var(--primary-color)
}
p{
    font-family: var(--paragraph-font);
}
main{
    max-width: 800px;
	margin: 2rem auto;
}
header{
    max-width: 800px;
	margin: 2rem auto;
    display: grid;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
}
footer img{
    max-width: 50px;
}
footer ul{
    display: flex;
}
h1, h2, h3, h4, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
.hero{
    position: relative;
}
.hero .img{
    display: block;
    width: 100%;
    height: 100%;
}
.hero h1{
    position: absolute;
    bottom: 75%;
    width:70%;
    box-shadow: 0 0 30px #111;
	opacity: 0.8;
    background-color: var(--primary-color);
    padding-left: 30%;
}
.hero p{
    color: var(--accent2-color);
    font-size: larger; 
    margin-top: 3%;
}
header{
    position: relative;
}
article{
    width: 100%;
    position: absolute;
    background-color: var(--primary-color);
    bottom:15%;
    background-color: var(--primary-color);
}
article img{
    float: right;
}
.awaits img{
    height: 50%;
    width: 50%;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    flex:1 1 10%;

   border: 5px black solid;
}
.adventure{
    padding-top: 5%;
    padding-bottom: 5%;
}
.adventure h2{ 
    padding-bottom: 15px;
}

.awaits{
    display: flex;
    flex-direction: column;

}
.awaits ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.awaits h2{
    padding-bottom: 15px;
    
}