

:root{
    --primary-color: #225560;
    --secondary-color: #EDF060;
    --accent1-color: #D16301;
	--accent2-color: #BBE5E7;
}

header, main, footer{
    max-width: 1200px;
    margin-left: 200px;
    /* padding-right: 200px; */
    
    
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr ;
}

header img{
    margin-left: 4rem;
    width: auto;
    height: auto;
}

nav{
    border: solid var(--accent2-color) 5px;
    justify-content: space-around;
    display: flex;
}
nav a{
    display: flex;
    list-style: none;
    padding-right: 3px;
    margin: 0;
    justify-content: space-around;

}

nav a:hover{
    color: var(--accent1-color);
    font-weight: 700;
    border: 1px solid var(--accent1-color);
}

a {
    text-decoration: none;   
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    /* float: right; */

}
  
body {
    font-family: "libre baskerville", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}


h1{
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    

}
.hero h1{
    position: absolute;
    background: rgba(26, 23, 23, 0.5);
    width: 100%;
    height: 150px;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    text-align: center;
    
    top: 100px;
    color: white;
    font-size: 50px;
}

.hero {
    position: relative;
}



article {
    position: absolute;
    background: rgba(183, 69, 8, 0.5);
    color: white;
    bottom: 290px;
    margin-left: 40px;
    margin-right: 40px;

    
}

article img {
    float: right;
    margin-left: 20px; 
    max-width: 30%; 
    height: auto; 
}

article p {
    margin: 0;
}

.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    margin-top: 10px;
}
.adventure-pictures{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    margin-top: 10px;
}
.adventure-title{
    text-align: center;
}
.adventure-figure{
    display: flex;

}
.adventure-pictures img {
    padding: 10px;
    max-width: 220px;
    max-height: 150px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.sociallinks a{
    padding-right: 20px;
}
.sociallinks{
    border: none;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  


  /*-------- Contact Page -------*/

.employees{
    /* display: grid; */
    display: flex;
    /* justify-items: flex-end; */
    border: black 2px solid;
    /* padding: 50px; */
    background-color: var(--accent2-color);
    /* background-color: var(--secondary-color); */
    background-color: var(--primary-color);
    padding-right: 20px;
    margin: 5px;
    border-radius: .5rem;

    
}

.contactinfo{
    display: grid; 
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainsection{
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: .5rem;
}

.mainsection{
    background-color: var(--accent2-color);
}
form{
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--accent2-color);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend{
    padding: .5rem;
    color: var(--accent1-color);
    font-size: 1.3em;
}

label,input,button,select,textarea{
    font-family: Roboto, Arial, sans-serif;
}

label{
    text-align: left;
    padding-right: 1rem;

}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;

}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input[type="radio"]{
    transform: scale(1.3);
    border: green solid 2px;
}

button{
    margin: 1rem;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: white;
    color: navy;
    border: 1px red solid;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    margin: .5rem 0;
    display: flex;
    justify-content: space-around;
}

.column2{
    grid-template-columns: 1fr 2fr;
}
