@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: steelblue;
    padding: 1rem;
    border: black dotted 5px;
    /* margin-bottom: 5% ; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

nav a{
    /* color: white; */
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1{
    color: steelblue;
    border-bottom: steelblue solid;
    padding: 10px;
}

img{
    /* width: 150px; */
    /* height: auto; */
    /* padding: 2px; */
    /* box-shadow: 0 0 30px gray; */
}


main p{
    margin-bottom: 5%;
    margin-top: 10px;
}

p{
    padding: 10px;

}

.grid {
    display: grid;
    align-items: center;
}

main {
    /* max-width:  840px; */
    grid-column: 2;
    margin: 1rem;
}

aside{
    width: 20rem;
    height: 36rem;
    /* border: 4px solid rgba(246, 1, 234, 0.954); */
    position: relative;
    grid-row: 1;
}

aside h2{
    position: absolute;
    top:  47px;
    left: 105px;
    
}

aside img{
    height: auto;
    float: none;
}

main img{
    max-width: 150px;
    height: auto;
    float: right;
    margin-top: 10px;
    border: 5px solid cyan;
}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

body{
    font-family: var(--Ojuju);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: 
}


/* Class Selectors */

.box {
    margin: 1rem;
    /* border: 10px dotted cyan; */
    padding: 1rem;
    background-color: burlywood;
    color: #000;
    position: relative;
    /* height: 100%; */
    /* display: flex; */
    /* align-items: flex-start; */
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

